In [2]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.metrics.pairwise import cosine_similarity

In [10]:



file_path = './data/GroceryFood.data'

try:
    df = pd.read_csv(file_path, sep=None, engine='python')
except Exception as e:
    print(f"Error reading the file: {e}")
df.head()

   0  4116  5.0
0  0  7987  3.0
1  0  5496  5.0
2  0  7341  3.0
3  0  5992  5.0
4  0  8320  3.0

In [11]:
output_path = './data/grocery_food.csv'
df.columns = ['Column1', 'Column2', 'LastColumn']

df['LastColumn'] = df['LastColumn'].astype(int)

df.to_csv(output_path, index=False, header=False)

In [12]:
unique_values_count = df['Column1'].nunique()

unique_values_count

2027